{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<form id="login-form" action="/login" method="post" class="ml-2">
    {{ form.hidden_tag() }}
    {% for field in form
            if field.widget.input_type != 'hidden' %}
    
            <p>
               <b>{{ field.label }} </b> 
                {{ field (class_="form-control col-md-6 ml-2")}}
           
                {% for error in field.errors %}
                 <span> {{ error }} </span> 
                {% endfor %}
              </p>
    {% endfor %}
    <button class="btn btn-primary"> Login </button>
</form>
{% endblock %}